<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gcoin.platform.dao.GameDoMapper">
  <resultMap id="BaseResultMap" type="com.gcoin.platform.dataobject.GameDo">
    <id column="game_id" jdbcType="INTEGER" property="gameId" />
    <result column="company_id" jdbcType="INTEGER" property="companyId" />
    <result column="issue_date" jdbcType="DATE" property="issueDate" />
    <result column="game_description" jdbcType="VARCHAR" property="gameDescription" />
    <result column="category" jdbcType="VARCHAR" property="category" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="trailer_url" jdbcType="VARCHAR" property="trailerUrl" />
    <result column="thumbnail_path" jdbcType="VARCHAR" property="thumbnailPath" />
  </resultMap>
  <sql id="Base_Column_List">
    game_id, company_id, issue_date, game_description, category, name, trailer_url, thumbnail_path
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from game
    where game_id = #{gameId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from game
    where game_id = #{gameId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.gcoin.platform.dataobject.GameDo">
    insert into game (game_id, company_id, issue_date, 
      game_description, category, name, 
      trailer_url, thumbnail_path)
    values (#{gameId,jdbcType=INTEGER}, #{companyId,jdbcType=INTEGER}, #{issueDate,jdbcType=DATE}, 
      #{gameDescription,jdbcType=VARCHAR}, #{category,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{trailerUrl,jdbcType=VARCHAR}, #{thumbnailPath,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.gcoin.platform.dataobject.GameDo">
    insert into game
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="gameId != null">
        game_id,
      </if>
      <if test="companyId != null">
        company_id,
      </if>
      <if test="issueDate != null">
        issue_date,
      </if>
      <if test="gameDescription != null">
        game_description,
      </if>
      <if test="category != null">
        category,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="trailerUrl != null">
        trailer_url,
      </if>
      <if test="thumbnailPath != null">
        thumbnail_path,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="gameId != null">
        #{gameId,jdbcType=INTEGER},
      </if>
      <if test="companyId != null">
        #{companyId,jdbcType=INTEGER},
      </if>
      <if test="issueDate != null">
        #{issueDate,jdbcType=DATE},
      </if>
      <if test="gameDescription != null">
        #{gameDescription,jdbcType=VARCHAR},
      </if>
      <if test="category != null">
        #{category,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="trailerUrl != null">
        #{trailerUrl,jdbcType=VARCHAR},
      </if>
      <if test="thumbnailPath != null">
        #{thumbnailPath,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gcoin.platform.dataobject.GameDo">
    update game
    <set>
      <if test="companyId != null">
        company_id = #{companyId,jdbcType=INTEGER},
      </if>
      <if test="issueDate != null">
        issue_date = #{issueDate,jdbcType=DATE},
      </if>
      <if test="gameDescription != null">
        game_description = #{gameDescription,jdbcType=VARCHAR},
      </if>
      <if test="category != null">
        category = #{category,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="trailerUrl != null">
        trailer_url = #{trailerUrl,jdbcType=VARCHAR},
      </if>
      <if test="thumbnailPath != null">
        thumbnail_path = #{thumbnailPath,jdbcType=VARCHAR},
      </if>
    </set>
    where game_id = #{gameId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gcoin.platform.dataobject.GameDo">
    update game
    set company_id = #{companyId,jdbcType=INTEGER},
      issue_date = #{issueDate,jdbcType=DATE},
      game_description = #{gameDescription,jdbcType=VARCHAR},
      category = #{category,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      trailer_url = #{trailerUrl,jdbcType=VARCHAR},
      thumbnail_path = #{thumbnailPath,jdbcType=VARCHAR}
    where game_id = #{gameId,jdbcType=INTEGER}
  </update>

<!--  Self write SQL-->
  <select id="listGame" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from game order by game_id DESC
  </select>
<!--  -->
</mapper>