BRIDGE_MODE=ARBITRARY_MESSAGE

# The private key without 0x part.

DEPLOYMENT_ACCOUNT_PRIVATE_KEY=5163306b4585562200c1102805c215b42fb3fc2863c55c9fe0d0a2bbf18d7f93

DEPLOYMENT_GAS_LIMIT_EXTRA=0.2

HOME_DEPLOYMENT_GAS_PRICE=5000000000

FOREIGN_DEPLOYMENT_GAS_PRICE=5000000000

GET_RECEIPT_INTERVAL_IN_MILLISECONDS=3000



HOME_RPC_URL=https://ropsten.infura.io/v3/973b1651e0db40c99f3541ba21000e74

HOME_BRIDGE_OWNER=0x732BaeD50B6530cA0461611c5710107edf7A21a0

HOME_VALIDATORS_OWNER=0xDACD54a5332bA390C863de8Fddc6C951F2d66a91

HOME_UPGRADEABLE_ADMIN=0x0bC93d0fF107d39192949Bddbe4cC9cd1bbF77EF



# The maximum value of gas for one call to be allowed for relaying.

HOME_MAX_AMOUNT_PER_TX=2000000

HOME_REQUIRED_BLOCK_CONFIRMATIONS=1

HOME_GAS_PRICE=5000000000



FOREIGN_RPC_URL=https://goerli.infura.io/v3/973b1651e0db40c99f3541ba21000e74

FOREIGN_BRIDGE_OWNER=0xbaBED8d93417914328382b293A1f2620227EA4C1

FOREIGN_VALIDATORS_OWNER=0x1667987A06679C1c1B20e3d42Fe3b9630Aee7a2F

FOREIGN_UPGRADEABLE_ADMIN=0x1d890724CedF129cF09a76113e6Ba1898d584CeA



# The maximum value of estimated gas for one transaction in Wei.

FOREIGN_MAX_AMOUNT_PER_TX=2000000

FOREIGN_REQUIRED_BLOCK_CONFIRMATIONS=1

FOREIGN_GAS_PRICE=10000000000



REQUIRED_NUMBER_OF_VALIDATORS=1

# If several validators are used, list them separated by space without quotes

# E.g. VALIDATORS=0x 0x 0x

VALIDATORS=0xb5323A7DC530AB0A55b0e3a0EBf89ad779919187
